<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable MVC annotations processing -->
    <mvc:annotation-driven/>

    <!-- Component Scanning -->
    <context:component-scan base-package="com.nistcollege.ecom.controller"/>

    <!-- View Resolver Configuration -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- File Upload Configuration -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"/> <!-- 100 MB -->
    </bean>

    <!-- Khalti API Configuration -->
    <bean id="khaltiConfig" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="khalti.api.url">https://khalti.com/api/v2/payment</prop>
                <prop key="khalti.public.Key">test_secret_key_7ad63d2b66184576a5682e769eb0b138</prop>
            </props>
        </property>
    </bean>

    <context:component-scan base-package="com.nistcollege.ecom.service"/>



    <!-- Data Source Configuration -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="username" value="postgres"/>
        <property name="password" value="Shakti"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/EcomTech"/>
    </bean>

    <!-- Hibernate Session Factory Configuration -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.nistcollege.ecom.model.Usermodel1</value>
                <value>com.nistcollege.ecom.model.ProductModel</value>
                <value>com.nistcollege.ecom.model.CartModel</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction Manager Configuration -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Enable Transaction Annotations -->
    <tx:annotation-driven/>

    <!-- Service Beans -->
    <bean id="UserService" class="com.nistcollege.ecom.service.UserServiceImpl"/>
    <bean id="ProductService" class="com.nistcollege.ecom.service.ProductServiceImpl"/>
    <bean id="CartService" class="com.nistcollege.ecom.service.CartServiceImpl"/>



    <!-- Static Resource Handling -->
    <mvc:resources mapping="/image/**" location="/image/"/>

    <mvc:resources mapping="/imageFront/**" location="/frontImage/"/>

    <mvc:resources mapping="/javascript/**" location="/javascript/"/>

    <mvc:resources mapping="/Css/**" location="/Css/"/>



</beans>
